{% load static %}
{% load task_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type = "text/css" href = "{% static 'css/edit.css' %}" rel = "stylesheet"/>
    <title>{{title}}</title>
</head>
<body>
    <header class="header">
        <div class="header__container _container">
          <a href="{% url 'home' %}" class="header__logo">TASKstart</a>
          <nav class="header__menu menu">
            <ul class="menu__list">
                {% if request.user.is_authenticated %}
                    <li class="menu__item">
                        <a href="{% url 'profile' %}" class="menu__link">{{user.username}}</a> | <a class="menu__link-btr" href="{% url 'logout' %}">Выйти</a>
                    </li>

                    {% else %}
                    <li class="menu__item">
                        <a href="{% url 'invate' %}" class="menu__link-btr">Вход</a>
                    </li>
                    <li class="menu__item">
                        <a href="{% url 'register' %}" class="menu__link-btr">Регистрация</a>
                    </li>
                {% endif %}
            </ul>
          </nav>
        </div>
    </header>

<section>
    <div class="_container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="craft">
                <div class="craft_title"><span>1</span>Ваша заказ</div>

                    <div class="craft_nazvanie">
                        <div class="form-error">{{ task_form.non_field_errors }}</div>
                        <p class="form-label-all"><label class="form-label" for="{{ task_form.title.id_for_label }}">{{task_form.title.label}}: </label>{{ task_form.title }}</p>
                        <div class="form-error">{{ task_form.title.errors }}</div>
                    </div>

                    <div class="form-error">{{ task_form.non_field_errors }}</div>
                        <p class="form-label-all"><label class="form-label" for="{{ task_form.content.id_for_label }}">{{task_form.content.label}}: </label>{{ task_form.content }}</p>
                    <div class="form-error">{{ task_form.content.errors }}</div>

                    <div class="form-error">{{ task_form.non_field_errors }}</div>
                        <p class="form-label-all"><label class="form-label" for="{{ task_form.photo.id_for_label }}">{{task_form.photo.label}}: </label>{{ task_form.photo }}</p>
                    <div class="form-error">{{ task_form.photo.errors }}</div>

                    <div class="craft_nazvanie">
                        <div class="form-error">{{ task_form.non_field_errors }}</div>
                        <p><label class="form-label" for="{{ task_form.price.id_for_label }}">{{task_form.price.label}}: </label>{{ task_form.price }}</p>
                        <div class="form-error">{{ task_form.price.errors }}</div>
                    </div>

                    <button type="submit" class="craft_button">Редактировать</button> 
            </div>
        </form>
    </div>
</section>
</body>
</html>